/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* body */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
.container {
  width: 870px;
}

/* journey as influencer styles start */

.influencer img {
  width: 240px;
}
.influencers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.animation {
  position: relative;
}
.animation::before {
  content: "Influencer";
  width: 100%;
  color: #2ed573;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 0.4rem solid #2ed573;
  animation: slide 3s linear infinite;
  -webkit-animation: slide 3s linear infinite;
  overflow: hidden;
}
@keyframes slide {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.button {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: #e02c6d;
  padding: 10px 20px;
  border: 1px solid #e02c6d;
  border-radius: 41px;
}
.fa-star.filled {
  color: #fb8200;
}
.fa-star.empty {
  color: gainsboro;
}
.collection-style {
  font-family: Inter;
  color: #787885;
}
/* journey as influencer styles end */
/* company logo start */
.logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(128, 128, 128, 0.378);
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
  padding: 10px 0px;
}
/* popular collection start */
.header-style {
  text-align: center;
}
.collections .collection .thumbnail {
  width: 200px;
  height: auto;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 229px;
  padding: 0px;
}
.collection {
  margin: 25px 25px 10px 0;
  border: 1px solid #ffff;
  border-radius: 10px;
  background: #fff;
}
.button-position {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.see-more {
  color: #e02c6d;
  font-size: 12px;
  font-weight: 600;
  background-color: honeydew;
  padding: 10px 20px;
  border: 1px solid aliceblue;
  border-radius: 40px;
}
/* popular collection end */
/* form styles start */
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: white;
  padding: 20px;
  border: 1px solid sandybrown;
  border-radius: 30px;
}

.submit-reset {
  color: brown;
  background: #fff;
  padding: 5px 20px;
  border: 1px solid sandybrown;
  border-radius: 10px;
}
/* form styles end */
/* footer start */
footer {
  color: #fff;
  margin-top: 30px;
  padding: 15px 0;
  background: black;
  text-align: center;
}
.social-media i {
  padding-right: 10px;
}
/* footer style end */
/* media quires for phone*/
@media (max-width: 688px) {
  .container {
    width: 100%;
  }
  .product-title {
    text-align: start;
  }
  .influencers {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .influencer img {
    width: 100%;
  }
  .banner-title {
    width: 100%;
  }
  .description {
    width: 100%;
  }
  .logo {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .header-style {
    text-align: start;
  }
  .collections {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  form {
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    background: whitesmoke;
    width: 100%;
    border: none;
}
}
